div {
  background-color: #ffffff; }

body {
  margin: 2%;
   font-family: arial,"helvetica Neue Light",helvetica, arial,sans-serif;
   font-size: 80%;
   }
   
p {
	line-height: 1;	
}

#sidebar {
  float: right;
  clear: none;
  margin: 0px;
  width: 300px;
  margin-left: 10px;
  padding-left: 7px;
  margin-bottom: 9px;
  margin-bottom: 7px;
  font-family: "helvetica Neue Light",helvetica, arial,sans-serif;
  font-weight: normal;
  border-left: dotted 2px #cecece; }

#sidebar h3 {
  font-family: "helvetica Neue Light",helvetica, arial,sans-serif;
  font-size: 130%;
  margin: 0px;
  padding: 0px;
  padding-top: 5px; }

#sidebar .block .inner {
  margin: 0px;
  padding: 0px; }

#sidebar ul {
  padding: 0px;
  margin: 0px; }

#sidebar li {
  padding: 7px;
  padding-left: 14px;
  background: url("http://deepcarbon.net/sites/dco.rpi.edu/files/images/menu-back.png") center bottom; }

#sidebar li.videoli {
  padding: 0px;
  margin: 0px; }

#sidebar li.toptitle {
  display: block;
  height: 24px;
  background: url("http://deepcarbon.net/sites/dco.rpi.edu/files/images/menu-back.png") center top;
  color: #eee;
  text-shadow: 0px -1px 1px #5e1311;
  padding-left: 15px;
  padding-top: 9px;
  text-align: center;
  border: 1px solid #999; }


  div {
    background-color: #ffffff; }

  a {
      color: #b7312c;
  	text-decoration: underline;
  	font-weight: bold;
  }

  a:link,
  a:visited {
    background: transparent;
    font-weight: bold;
    color: #b7312c;
    text-decoration: underline; }


div.print-content div a, div.print-content  div.inner div.content p a, div.print-content div.inner div.content div#findings p a {
    color: #b7312c;
	text-decoration: underline;
	font-weight: bold;
}